.Cards {
  height: 100vh;
  width: 100%;

  position: relative;
  padding-top: 141px;
  z-index: 3;
}

.card_c {
  width: 490px;
  height: 550px;
  background-color: white;
  opacity: 0.7;
  position: absolute;
  z-index: 4;
  top: 20px;
  left: 100px;
}

.heading {
  font-size: 50px;
  padding: 60px 60px 0px 60px;
}

.sub {
  font-size: 20px;
  padding: 0 60px 30px 60px;
}

.card_button {
  padding: 0 60px;
  color: #fcf8f3;
}

.button {
  padding: 25px 150px;
  background-color: #e89f71;
  color: white;
  border: none;
}
.card_slider {
  z-index: 5;
  width: 60vw;
  position: absolute;
  height: 80vh;
}

.simage {
  width: 60%;
}
.slideimage {
  width: 60%;
}
